# Virtual environment
.myenv
venv
env

# Environment variables
.env
.env.local

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
.idea